body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding: 0;
}

span {
    color: #0eebb8;
}

.links {
    display: flex;
    gap: 10px;
    margin-right: 65px;
}

.links a {
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

h2 {
    text-align: center;
}

.content-container {
    margin-top: 100px;
}

.discounts-container {
    float: right;
    width: 700px;
    height: 400px;
    overflow-y: scroll;
    border: 2px solid #000000;
    margin-right: 65px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}

.add-item-container {
    float: right;
    clear: both;
    margin-top: 10px;
}

.add-item-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    margin-right: 65px;
}

.add-item-button:hover {
    background-color: #0eebb8;
    outline: 1px solid black;
    color: rgb(0, 0, 0);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #000000;
    background-color: rgb(255, 255, 255);
}



th {
    background-color: #f2f2f2;
    font-weight: 500;
}

.url-cell {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 1;
    transition: opacity 0.5s;
}



/* Adjust the width of the other columns as desired */
th:nth-child(2),
td:nth-child(2) {
    width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 20%;
}

th:not(:last-child),
td:not(:last-child) {
    border-right: 1px solid #ddd; /* Add right border to all columns except the last one */
}